# Example/Documentation for the IG YML file
# https://fshschool.org/docs/sushi/configuration/#exhaustive-example

# Package name
# https://confluence.hl7.org/display/FHIR/NPM+Package+Specification#NPMPackageSpecification-Packagename
id: ch.fhir.ig.ch-lab-report
canonical: http://fhir.ch/ig/ch-lab-report
name: CH_LAB_REPORT
title: "CH LAB-Report (R4)"
description: FHIR® Implementation Guide for Laboratory Reports in Switzerland
status: active
license: CC0-1.0
copyright: CC0-1.0
jurisdiction: urn:iso:std:iso:3166#CH
date: 2025-05-22
version: 2.0.0-ci-build
fhirVersion: 4.0.1
copyrightYear: 2024+
releaseLabel: ci-build # ci-build | draft | qa-preview | ballot | trial-use | release | update | normative+trial-use
publisher:
  name: HL7 Switzerland
  url: https://www.hl7.ch
contact:
  - name: Marcel Hanselmann
    telecom:
      - system: email
        value: laborprojektgruppe@gmail.com
        use: work

dependencies:
  ch.fhir.ig.ch-core: current # 6.0.0
  #ch.fhir.ig.ch-term: # not needed
  #  uri: http://fhir.ch/ig/ch-term/ImplementationGuide/ch.fhir.ig.ch-term
  #  version: current
  #hl7.terminology.r4:  # not needed
  #  uri: http://terminology.hl7.org/ImplementationGuide/hl7.terminology
  #  version: 6.3.0
  ch.fhir.ig.ch-orf: current # 3.0.1
  hl7.fhir.uv.order-catalog: 0.1.0

  # Specific dependencies for the CH_LAB_REPORT
  hl7.fhir.uv.ips: 1.1.0
  hl7.fhir.eu.extensions: 0.1.0
  hl7.fhir.eu.laboratory: 0.1.1 
  # hl7.fhir.uv.extensions.r4: 5.2.0  # not needed
  hl7.fhir.extensions.r5: 4.0.1

pages:
  index.md:
    title: Home
  usecases.md:
    usecases-en.md:
      title: Use Cases in English
    usecases-fr.md:
      title: Use Cases in French
    usecases-ge.md:
      title: Use Cases in German
    usecases-it.md:
      title: Use Cases in Italian
  document.md:
    title: Document
  guidance.md:
    title: Guidance
  profiles.md:
    title: Profiles
  extensions.md:
    title: Extensions
  terminology.md:
    title: Terminology
  changelog.md:
    title: Changelog

# ╭───────────────────── menu.xml ────────────────────────────╮
# │  To use a provided ig-data/input/includes/menu.xml file,  │
# │  delete the "menu" property below.                        │
# ╰───────────────────────────────────────────────────────────╯
menu:
  Table of contents: toc.html
  Home: index.html
  Use Cases: #usecases.html
    Use Cases English: usecases-en.html
    Use Cases German: usecases-ge.html
    Use Cases French: usecases-fr.html
    Use Cases Italian: usecases-it.html
  Document: document.html
  Guidance: guidance.html
  Profiles: profiles.html
  Terminology: terminology.html
  Artifacts: artifacts.html
  Changelog: changelog.html
# Parameters
# Core FHIR: http://build.fhir.org/codesystem-guide-parameter-code.html
# FHIR Tools IG: http://build.fhir.org/ig/FHIR/fhir-tools-ig/branches/master/CodeSystem-ig-parameters.html
parameters:
  allow-extensible-warnings: true
  display-warnings: true
  path-expansion-params: '../../expansion-params.json'  # for using SNOMED CT Swiss Extension
  pin-canonicals: pin-multiples

FSHOnly: false
applyExtensionMetadataToRoot: false